$color1: #2987be;
$color2: #1059b8;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 60%;
   margin: 0 auto;
   margin-top: 150px;
}

.timer {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &-block {
      width: 150px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

      .time {
         background-color: $color1;
         display: flex;
         justify-content: center;
         align-items: center;
         color: white;
         height: 150px;
         font-size: 95px;
      }

      .title {
         background-color: $color2;
         padding: 5px;
         border-bottom-right-radius: 10px;
         border-bottom-left-radius: 10px;
         text-align: center;
         color: white;
      }
   }
}

.buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-width: 800px;
   margin: 0 auto;
   margin-top: 150px;

   .button {
      border: none;
      border-radius: 10px;
      font-size: 18px;
      padding: 10px;
      width: 180px;
      transition: .3s ease-in-out;
      cursor: pointer;

      &.start, &.stop  {
         color: $color1;

         &:hover {
            background-color: $color2;
            color: white;
         }
      }

      &.pause{
         &:hover{
            background-color: #E03b8b;
            color: white;
         }
      }
   }
}